<div class="wrapper">
  <div class="main-content">
      <div class="book-flight-container" *ngIf="flight; else notFound">
          <h1>Booking Flight: {{ flight.flightNumber }}</h1>
          <div class="flight-details">
              <p><strong>Origin:</strong> {{ flight.origin }}</p>
              <p><strong>Destination:</strong> {{ flight.destination }}</p>
              <p><strong>Date:</strong> {{ flight.date }}</p>
              <p><strong>Departure Time:</strong> {{ flight.departureTime }}</p>
              <p><strong>Duration:</strong> {{ flight.duration }}</p>
              <p><strong>Arrival Date:</strong> {{ flight.arrivalDate }}</p>
              <p><strong>Arrival Time:</strong> {{ flight.arrivalTime }}</p>
              <p><strong>Price:</strong> ${{ flight.price }}</p>
              <p><strong>Available Seats:</strong> {{ flight.availableSeats }}</p>
          </div>
          <button mat-raised-button color="primary" class="confirm-button" (click)="confirmBooking()">
              Book
          </button>
      </div>

      <ng-template #notFound>
      </ng-template>
  </div>

</div>
