<div class="header-container">
  <!-- Logo Section -->
  <div class="logo-container">
    <img 
    src="assets/onoairLogo.png" 
    class="header-logo" 
    alt="OnoAir Logo"
    (click)="navigateToHome()"  
  />
    <span class="header-title"></span>
  </div>

  <!-- Menu Section -->
  <div class="menu-container">
    <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="adminMenu">
        Admin
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="userMenu">
        User
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-menu>

    <mat-menu #adminMenu="matMenu">
      <button mat-menu-item routerLink="/manage-flight">
        Manage Flights
      </button>
      <button mat-menu-item routerLink="/manage-destinations">
        Manage Destinations
      </button>
    </mat-menu>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/find-a-flight">Find A Flight</button>
      <button mat-menu-item routerLink="/my-bookings">My Bookings</button>
    </mat-menu>
  </div>
</div>
