/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

/* Container styling */
.container {
    width: 60%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
}

/* Heading */
.container h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;
}

/* Flight info styling */
.flight-info {
    background-color: #f1f9ff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Form styling */
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Save button */
.save-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #4A90E2;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px; /* Added margin to move the button down */
}

.save-button:hover {
    background-color: #357ABD;
}

/* Footer styling */
#footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

#help-button {
    background-color: #333;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
