html {
    overflow: hidden;
}

.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 1000px;
    margin: 100px auto 20px auto; /* Top margin for header and bottom margin */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px; /* Added bottom padding for footer clearance */
    max-height: 800px;
    overflow: auto;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#searchInput {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

#searchButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4A90E2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#searchButton:hover {
    background-color: #357ABD;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 100;
}

h2 {
    text-align: center;
    color: #333;
}

.booking {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.booking img {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 8px;
    margin-right: 20px;
}

.booking-details {
    flex-grow: 1;
}

.booking-details p {
    margin: 5px 0;
}
/* Footer styling */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    z-index: 100;
}

.help-button {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.help-button:hover {
    background-color: #555;
}

